<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Collin Diary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-col size="12" text-center>
      <ion-row>
        <ion-col size="12" text-center>
          <ion-button (click)="goToAddDiaryPage()" expand="block" color="dark" style="margin-bottom:30px">
            <ion-icon name="add-outline"></ion-icon><span translate>{{HOME_MENU_1}}</span>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="goToHistoryPage()" expand="block" color="dark" style="margin-bottom:30px">Collin History
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-item>
            <ion-label>Language:</ion-label>
            <ion-select [(ngModel)]="language" [value]="language" (ionChange)="changeLanguage()">
              <ion-select-option  *ngFor="let lang of languages" [value]="lang.code">
                {{lang.name}} {{lang.code}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row></ion-row>
      </ion-col>
    </ion-col>
  </div>

</ion-content>